/* From Uiverse.io by alexmaracinaru */
.card {
  display: flex;
  align-items: center; /* Center the image and content vertically */
  width: 600px; /* Adjust width as needed */
  background: #333;
  padding: 0.4em;
  border-radius: 15px;
  margin: 5px;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-image {
  background-color: rgb(236, 236, 236);
  width: 200px;
  height: 200px;
  border-radius: 6px;
  flex-shrink: 0; /* Prevents shrinking when the card resizes */
  margin-right: 10px;
  background-size: cover; /* Ensure the image covers the frame */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
}

.card-image:hover {
  transform: scale(0.98);
  transition: transform 0.3s ease;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
  height: 100%; /* Ensure it takes full height of the card */
}

.category {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(29, 162, 214);
  padding-bottom: 5px;
  text-align: left; /* Align text to the left */
}

.category:hover {
  cursor: pointer;
}

.heading {
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  margin-top: 5px;
  text-align: left; /* Align text to the left */
}

.heading:hover {
  cursor: pointer;
}

.author {
  color: rgb(180, 179, 179);
  font-weight: 400;
  font-size: 14px;
  text-align: right;
  margin-top: -20px;
}

.name {
  font-weight: 600;
}

.name:hover {
  cursor: pointer;
}
/* From Uiverse.io by Creatlydev */
.button {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--clr);
  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.button:hover {
  background-color: #000;
}

.button:hover .button__icon-wrapper {
  color: #000;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}
